
.createform{
  margin-top: 10%;
  text-align: center;
  
}

.signup{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 1.5rem;
}
.signupform{
  font-size: large;
  text-align: center;
}

.MuiCardActions-root{
        
  justify-content: space-evenly;
}